<form id="form1" runat="server">
	<div id="google_translate_element" style="display: none"></div>
	<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
        }
    </script>
	<script
		src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
		type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script>
        function translateLanguage(lang) {
            var $frame = $('.goog-te-menu-frame:first');
            if (!$frame.size()) {
                return false;
            }
            $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
            return false;
        }
	translateLanguage('english')
    </script>
</form>